@font-face
{
    font-family: 'GrandHotel-Regular';
    src: url("./fonts/GrandHotel-Regular.otf");
}

@font-face
{
    font-family: 'GreatVibes-Regular';
    src: url("./fonts/GreatVibes-Regular.otf");
}

@font-face
{
    font-family: 'kaushan';
    src: url("./fonts/KaushanScript-Regular.otf");
}

@font-face
{
    font-family: 'Z003-MediumItalic';
    src: url("./fonts/Z003-MediumItalic.otf");
}
